.root {
    -fx-background-color: #212121;
}

#player-controls {
    -fx-padding: 10px;
}

.label {
    -fx-font-size: 20px;
    -fx-text-fill: #EEEEEE;
    -fx-cursor: hand;
}

.label:hover {
    -fx-text-fill: #9E9E9E;
}

#exit {
    -fx-padding: 1px 5px;
    -fx-border-width: 1px;
    -fx-border-color: #E57373;
    -fx-border-radius: 5px;
}

